/* all */

* {
    margin: 0;
    margin-left: 40px;
    margin-right: 40px;
}

p {
    font-family: "Montserrat", sans-serif;
    color: rgb(104, 104, 104); 
    margin-top: 30px;
    width: 36%;
    margin-left: 115px;
    font-weight: 500;
}

a {
    text-decoration: none;
}

/* nav + header */

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.logo:hover {
    transform: scale(1.1);
    transition: all .8s; 
    cursor: pointer;
}

.logo{
    display: flex;
    justify-content: flex-start;
    max-height: 180px;
    margin-left: -180px;
    transition: 0.8s;
}

ul{
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}

li{
    display: flex;
    list-style-type: none;
    margin-right: 40px;
    margin-left: -60px;
}

nav a{
    text-decoration: none;     
    color: grey; 
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    margin-top: 20px;
    font-weight: 700;
}

nav a:hover {
    color: rgb(153, 0, 255);
}

/* section 1 */

.section1 {
    display: flex;
    flex-direction: column;
    margin-left: 35px;
    margin-top: 50px;
}

h1 {
    font-family: "Abril Fatface", sans-serif;
    color: rgb(219, 80, 103);
    font-size: 40px;
    width: 40%;
    margin-left: 115px;
}

h2 {
    font-family: "Montserrat", sans-serif;
    color: rgb(68, 68, 68);
    margin-top: 15px;
    font-size: 40px;
    font-weight: 500;
    width: 40%;
    margin-left: 115px;
}

.imageillu {
    width: 30%; height: 10%;
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    margin-top: -320px;
    margin-right: 300px;
}

.boutton1, .boutton2, .boutton3, .twitter, .linkedin, .medium:hover {
    cursor: pointer;
}

.boutton1:hover {
    background: linear-gradient(rgb(73, 176, 245), rgb(97, 192, 255));
}

.boutton2:hover {
    background: linear-gradient(rgb(54, 134, 187), rgb(1, 56, 92));
}

.boutton3:hover {
    background: linear-gradient(rgb(37, 37, 37), rgb(58, 64, 70));
}

.boutton1 {
    width: 170px;
    height: 50px;
    background: linear-gradient(rgb(65, 156, 218), rgb(69, 173, 241));
    color: white;
    border: none;
    margin-top: -10px;
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
}

.boutton2 {
    width: 170px;
    height: 50px;
    background: linear-gradient(rgb(65, 156, 218), rgb(2, 85, 139));
    color: white;
    border: none;
    margin-top: -10px;
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    margin-left: -95px;
}

.boutton3 {
    width: 170px;
    height: 50px;
    background: linear-gradient(rgb(0, 0, 0), rgb(34, 39, 43));
    color: white;
    border: none;
    margin-top: -10px;
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    text-align: center;
    margin-left: -95px;
}

.lienboutton {
    display: flex;
    flex-direction: row;
    margin-top: -60px;
    gap: 70px;
    margin-left: 75px;
}

.twitter {
    width: 20px;
    height: 20px;
    margin-top: -34px;
    margin-left: 145px;
}

.linkedin {
    width: 18px;
    height: 18px;
    margin-left: 330px;
    margin-top: -21px;
}

.medium {
    width: 18px;
    height: 18px;
    margin-left: 520px;
    margin-top: -17px;
}

/* section 2 */

.date1 {
    font-size: 15px;
    font-weight: 600;
    margin-left: 45px;
    color: rgb(70, 70, 70);
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 820px 690px 690px;
    margin-top: 150px;
    margin-right: 420px;
    margin-left: 100px;
}

.box {
    width: 112%; height: 45%;
    cursor: pointer;  
    transition: 0.5s;
} 

.box:hover {
    transform: scale(1.1);
    transition: all .8s;
}

h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: rgb(219, 80, 103);
    font-size: 25px;
    margin-left: -2px;
}

.p1 {
    font-family: "Montserrat", sans-serif;
    color: rgb(104, 104, 104); 
    width: 100%;
    margin-left: 41px;
}

.post1, .post2 {
    display: flex;
    flex-direction: column;
}

.post3, .post4, .post5, .post6 {
    margin-top: -130px;
    display: flex;
    flex-direction: column;
}

.ensavoirplus {
    margin-top: 40px;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    color: rgb(202, 58, 82);
    font-size: 20px;
    font-weight: 400;
    transition: 0.5s;
}

.ligne {
    width: 150px;
    height: 18px;
    margin-left: 30px;
}

.ensavoirplus:hover {
    transform: scale(1.1);
    transition: all .3s;
}

.h7, .h8 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: rgb(219, 80, 103);
    font-size: 25px;
}