* {
    margin: 0;
}

/* bare de navigation*/
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 8%;
    margin-right: 8%;
}

.logo{
    display: flex;
    max-height: 150px;
    margin-left: 150px;
    margin-right: 150px;
}

.logo:hover {
    transform: scale(1.1);
    transition: all .8s; 
    cursor: pointer;
}

ul{
    display: flex;
    margin-top: 60px;
    margin-right: 150px;
    justify-content: space-around;
}

li{
    display: flex;
    list-style-type: none;
    padding-left: 50px;
}

nav a{
    text-decoration: none;     
    color: grey; 
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    margin-top: 20px;
    font-weight: 700;
}

nav a:hover {
    color: rgb(153, 0, 255);
}

/* bare de navigation*/

/* image principale */
.image1 {
    width: 82em;
    height: auto;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
/* image principale */

/* corps */

p , h1 , h2 , h3 , h4 {
    display: flex;
    text-align: justify;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 17px;
    padding-bottom: 17px;
}

p {
    font-family: "Montserrat", serif;
    opacity: 0.7;
    font-size: 15px;
}
h1 {
    font-family: "Abril Fatface", serif;
  font-weight: bold;
  font-style: normal;
  color:rgb(204, 0, 82) ;
  font-size: 50px;
  opacity: 0.7;
}

h2{
    font-family: "Abril Fatface", sans-serif;
    color: rgb(3, 3, 151);
    font-weight: bold;
    font-size: 30px;
}

h3{
    font-family: "Abril Fatface", sans-serif;
    color: rgb(3, 3, 151);
    font-weight: bold;
    font-size: 25px;
}

h4 {
    font-family: "Abril Fatface", sans-serif;
  font-weight: bold;
  font-style: normal;
  color:rgb(204, 0, 82) ;
  font-size: 40px;
  opacity: 0.7;
}

/* corps */

/* pieds de page */

.pied-de-page img{
float: right;
margin-left: 90px;

}
.illustration{
    width: 20em;
    margin-top: -80px;
    margin-left: 20%;
    margin-right: 15%;
}
.auteur{
    padding-right: 60px;
    font-size: 15px;
}
.réseau {
    width: 10%;
    margin-right: 45px;
    padding-left: 20px;
    margin-top: 40px;
    justify-content: center;
}
.réseau:hover {
    transform: scale(1.1);
    transition: all .8s; 
    cursor: pointer;
}

/* pieds de page */