* {
    margin: 0;
   margin-left: 40px;
   margin-right: 40px;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.logo{
    display: flex;
    justify-content: flex-start;
    max-height: 180px;
    margin-left: -180px;
    
}
nav ul{
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}
li{
    display: flex;
    list-style-type: none;
    margin-right: 40px;
    margin-left: -60px;
}
nav a{
    text-decoration: none;     
    color: grey; 
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    margin-top: 20px;
    font-weight: 700;
}
nav a:hover {
    color: rgb(153, 0, 255);
}
h1 {
    font-family: "Abril Fatface", sans-serif;
    color: rgb(219, 80, 103);
    font-size: 40px;
    width: 40%;
    margin-left: 300px;
    margin-top: 20px;
}
.section1 {
    width: 20%;
    margin-left: 300px;
}
.section2 {
    margin-left: 250px;
    margin-top: 5px;
}
.twitter, .linkedin, .medium {
    width: 2.5%; height: 2.5%;
    margin-top: 50px;
}
.section1 li {
    font-family: "Montserrat", sans-serif;
    color: rgb(104, 104, 104); 
    font-weight: 300;
    display: flex;
    margin-top: 20px;
}
.adresse {
    font-family: "Montserrat", sans-serif;
    color: rgb(88, 88, 88); 
    font-weight: 800;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: -60px;
    margin-top: 100px;
}
aside {
    width: 40%;
    margin-left: 580px;
    margin-top: -450px;
}
.infopratique {
        font-family: "Montserrat", sans-serif;
        color: rgb(88, 88, 88); 
        font-weight: 800;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-left: -60px;
        margin-top: 50px;
}
form {
    width: 100%;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    margin: 20px;
    margin-top: -500px;
    margin-left: 150px;
}
form p {
    margin-left: 30px;
    margin-top: 2px;
}
.select {
    width: 310px;
    margin: 60px;
    margin-left: 39px;
    height: 50px;
    padding-bottom: 30px;
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    border-style: none;
    border-radius: 5px;
}
form input {
    margin-top: 50px;
    width: 300px;
    height: 30px;
    border-style: hidden;
    background-color: rgba(185, 185, 185, 0.2);
    border-radius: 5px;
}
form ::placeholder {
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    color: black;
}
.weight {
    font-weight: 800;
}
.messageag {
    margin-top: 30px;
    height: 80px;
}
